@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;

}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


header {
  height: 100vh;
  width: 100vw;
  background-image: url("./img/Image1.jpg");
  background-size: cover;
  background-repeat: none;
  position: fixed;

}

.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
 
}



.navbar a {
  color: white;
  transition: 0.4s;
  font-size: 18px;
}

.navbar a:hover{
  color: #C99D66;
  text-decoration: underline;
  transition: 0.4s;
  
}
.navbar .logo {
  width: 90px;
  margin-left: 100px;
  padding-top: none;
  
}

.fichier{
  
  margin-left: 650px;
  margin-top: 250px;
  width: 440px;
  
  
}

.fichier {
  animation: floating 6s ease-in-out 0s infinite;
  

}

.section {
  background-color: #000;
  height: 100vh;
  width: 100%;
}

.button2{
  display: none;
}


@keyframes floating  {

  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(25px);
  }

  100%{
    transform: translateY(0px);
  }
}




.navbar .nav-links ul{
  display: flex;
  margin-right: 100px;
}

.navbar .nav-links ul li{
  margin: 0 25px;
}


.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 35px;
  right: 30px;
  width: 65px;
}

.button{
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 30px;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-top: 50px;
  margin-left: 150px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  transition: transform 0.4s;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  
}

.button:hover {
  transform: scale(1.05);
  background-color: #C99D66;
  color: white;
  transition: 0.4s;
}

.h2{
  display: none;
}





.h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  position: absolute;
  margin-left: 150px;
  margin-top: 240px;
  animation-delay: 1.5s;
  
}



.textuel {
  color: white;
  font-weight: 200;
  margin-left: 150px;
  padding-top: 380px;
}

.fichier {
  margin-top: -1100px;
  padding-left: 300px;
  margin-bottom: 210px;
}

.copyright {
  color: white;
  font-weight: 700;
  padding-top: 430px;
  margin-left: 1500px;
  font-size: 10px;
  
  
}

.logo {
  cursor: pointer;
}

.h2 {
  display: none;
}

.button2{
  display: none;
}

.fichier2{
  display:none;
}

.link{
  color: #C99D66;
  text-decoration: none;
}

.link:hover{
  color: #9d7a4f;
  text-decoration: none;
}





@media screen and (max-width: 900px) {

  .navbar .logo {
    position:absolute;
    top: 30px;
    left: 0px;
    margin-left: 20px;
    
  }

  .h2{
    display: flex;
    color: white;
    padding-top: 140px;
    font-size: 30px;
    justify-content: center;
    padding-bottom: 50px;

  }

  .navbar {
    padding: 0;
  }
 
  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0%;
    left: 0;
    position: absolute;
    background-color: rgb(14, 14, 14);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu{
    margin-left: 0;
  
  }

  .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .navbar .nav-links ul li{
   margin: 25px 0;
   margin-left: 100px;
   font-size: 1.2em;
   
  }

  .button {
    display: none;
  }

  

  .h1{
    font-size: 40px;
    top: -80px;
    left: -65px;
    font-weight: 600;
    padding-bottom: 90px;
    display: none;
    

  }

  .fichier {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70%;
    top: 1515px;
    left: -880px;
    
  }

  .logo {
  
    left: 200px;
    margin-right: 0;
    
    
    
   
  }
  

    
  

  .textuel {
    display: none;
  }

  .copyright {
    display: none;
  }

  .button2{
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 30px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: 100px;
    margin: auto;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    transition: transform 0.4s;
    cursor: pointer;
    justify-content: center;
  }

  .button2:hover{
    transform: scale(1.05);
  background-color: #C99D66;
  color: white;
  transition: 0.4s;
  }

  .fichier2{
    display: flex;
    width: 65%;
    margin-left: 70px;
    margin-top: 50px;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    padding-top: 50px;
    
    
  }

  i {
    display: none;
  }

  .icone1{
    display: none;
  }

  .section{
    background-image: url("./img/Image1.jpg");
    background-size: cover;
    background-repeat: none;
  }
    
  }


  

  